* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --margin-top: 25px;
  --border: 1px solid black;
  --dark-blue-1: #3a7dd7;
  --dark-blue-2: #2d62ce;
  --purple: #7c74f3;
  --sky-blue: #77f3fb;
  --light-blue-1: #40ecfa;
  --light-blue-2: #2bb5e2;
  --grey-blue: #b7d5f1;
  --light-pink: #e9d7e7;
  --light-purple: #a9c6f7;
  --white-grey: #e8f2fb;
  --black-blue: #071024;
}

body {
  font-family: Roboto, arial, sans-serif;
  background-image: url('images/background.png');
  background-position: top 50% left 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

form {
  width: 80%;
  padding: 20px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

form div {
  margin-top: 1em;
}

input,
textarea,
select {
  width: 100%;
  padding-left: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit - padding and border are included in the width and height*/
  -moz-box-sizing: border-box; /* Firefox, other Gecko - padding and border are included in the width and height */
  box-sizing: border-box; /* Opera/IE 8+  - padding and border are included in the width and height*/
}

input:focus,
textarea:focus,
select:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  padding: 10px;
}

button {
  background-color: var(--background-color-header);
  text-align: center;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 18px;
}

button p {
  color: white;
  font-weight: bold;
}

button img {
  width: 20px;
  margin-right: 30px;
  display: inline-block;
  padding-top: 5px;
}

.sendButton {
  display: inline-block;
}

.button {
  display: flex;
  justify-content: center;
  width: min-content;
  white-space: nowrap;
  background-color: var(--purple);
  text-align: center;
  border-radius: 5px;
  margin-top: 25px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  position: relative;
  top: -3px;
  background-color: var(--light-purple);
  color: var(--black-blue);
  box-shadow: 0 0 3px var(--purple);
}

.button p {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}
