* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --margin-top: 25px;
  --border: 1px solid black;
  --dark-blue-1: #3a7dd7;
  --dark-blue-2: #2d62ce;
  --purple: #7c74f3;
  --sky-blue: #77f3fb;
  --light-blue-1: #40ecfa;
  --light-blue-2: #2bb5e2;
  --grey-blue: #b7d5f1;
  --light-pink: #e9d7e7;
  --light-purple: #a9c6f7;
  --white-grey: #e8f2fb;
  --black-blue: #071024;
}

body {
  font-family: Roboto, arial, sans-serif;
  background-image: url('images/background.png');
  background-position: top 50% left 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  color: black;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.devTeam {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 30px;
  border-style: solid;
  border-color: lightgray;
  border-width: 2px;
  background-color: white;
}

h3 {
  font-size: 15px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: auto;
  width: 270px;
  padding: 15px;
}

.card:hover {
  border-color: var(--grey-blue);
}

.span-couille {
  text-decoration: line-through;
}

.funfact {
  font-style: italic;
  color: rgb(117, 117, 117);
}

@media screen and (max-width: 370px) {
  h3 {
    width: 170px;
  }
}
