* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --margin-top: 25px;
  --border: 1px solid black;
  --dark-blue-1: #3a7dd7;
  --dark-blue-2: #2d62ce;
  --purple: #7c74f3;
  --sky-blue: #77f3fb;
  --light-blue-1: #40ecfa;
  --light-blue-2: #2bb5e2;
  --grey-blue: #b7d5f1;
  --light-pink: #e9d7e7;
  --light-purple: #a9c6f7;
  --white-grey: #e8f2fb;
  --black-blue: #071024;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
  list-style-type: none;
  height: 60px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}

li {
  padding: 10px;
}

ul li {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.exit {
  width: 1.5em;
}

/*timer*/
body {
  font-family: Roboto, arial, sans-serif;
  background-image: url('images/background.png');
  background-position: top 50% left 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#timer {
  padding: 0 0 0 10px;
  font-weight: bold;
  font-size: 22px;
}
.timersection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 60px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
}

/*this is the CSS from Guillem flipping and matching cards code*/
.conteneur {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 20vw;
  position: relative;
  margin: 10px;
  cursor: url(images/high-five.png), pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 2px 2px 4px #15326b;
}

.card-face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face-front {
  transform: rotateY(180deg);
}

.disabled,
.matched {
  pointer-events: none;
}

.jeux img {
  display: block;
  max-width: 30vw;
  border-radius: 5px;
}

.jeux .card {
  border-radius: 5px;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border: solid 1px black;
  border-radius: 20px;
  width: 85%;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: 'Gloria Hallelujah', cursive;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.popup .close:hover {
  color: #e5f720;
}

.popup .content-1,
.content-2 {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}
.allScore a {
  color: black;
}

.allScore {
  padding: 5px;
  margin-top: 10px;
}
/*jeux en mode normal*/

.replaysection {
  display: flex;
  padding-bottom: 50px;
}

.replay {
  margin: auto;
  font-size: 20px;
  background-color: var(--purple);
  color: var(--white-grey);
  padding: 10px 15px;
  width: min-content;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 0 6px #20458fb0;
}

.replay:hover {
  cursor: url(images/high-five.png), pointer;
}

@media only screen and (min-width: 570px) {
  .exit {
    width: 50px;
  }

  ul li {
    font-size: 25px;
  }
}
