/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --margin-top: 25px;
  --border: 1px solid black;
  --dark-blue-1: #3a7dd7;
  --dark-blue-2: #2d62ce;
  --purple: #7c74f3;
  --sky-blue: #77f3fb;
  --light-blue-1: #40ecfa;
  --light-blue-2: #2bb5e2;
  --grey-blue: #b7d5f1;
  --light-pink: #e9d7e7;
  --light-purple: #a9c6f7;
  --white-grey: #e8f2fb;
  --black-blue: #071024;
}

body {
  font-family: Roboto, arial, sans-serif;
  background-image: url('images/background.png');
  background-position: top 50% left 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.play {
  margin-top: 35px;
  font-size: 45px;
  border-radius: 15px;
  padding: 20px 0px;
  width: 280px;
  text-align: center;

  background-color: var(--dark-blue-1);
  color: var(--white-grey);
}

.play:hover {
  cursor: pointer;
}

.play.clicked {
  color: rgba(223, 223, 223, 0.938);
}

.dropdown.shown {
  border-radius: 0 0 10px 10px;
  padding: 15px 10px;
  width: 280px;
  position: relative;
  top: -15px;
  z-index: 0;
  transition: all 0.5s ease-in, opacity 0s 0.4s;
  height: 240px;

  background-color: var(--dark-blue-1);
  color: var(--white-grey);
}

.dropdown.none {
  height: 0px;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: -1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

label[for='pseudo'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.options label {
  display: block;
}

input#pseudo {
  border-block-start-width: 0;
  border-block-end-width: 0;
  border-inline-start-width: 0;
  border-inline-end-width: 0;
  border-radius: 4px;
  max-width: 150px;
}

.start {
  background-color: var(--dark-blue-2);
  width: 30%;
  height: 2em;
  border-radius: 4px;
  line-height: 2em;
  text-align: center;
  box-shadow: 0 0 2px #20458fb0;
}

.start a {
  text-decoration: none;
  color: inherit;
}

h2 {
  width: 100%;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.rules {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px 30px;

  width: 80%;
  max-width: 600px;

  background-color: var(--sky-blue);
  color: var(--black-blue);
}

.rules li {
  line-height: 1.5em;
  list-style: '🔹 ';
}

.alert {
  display: none;
  font-size: 16px;
  color: rgba(238, 120, 66, 0.822);
  text-align: center;
  padding: 5px;
}
